{% extends 'base.html' %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

{% block MainHeader %}{% trans 'Publications' %}{% endblock %}

{% block content %}

    <br>
    <body class="d-flex flex-column min-vh-100">


    <div class="accordion">
        <h4>{% trans 'Publication filter' %}</h4>
        <form class="filter" method="GET">
            {{ filter.form }}
            <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
        </form>


        <div class="table-responsive publications">
            <table class="table table-striped">
                <thead>
                <tr>

                    <th scope="col">{% trans 'Author' %}</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Link' %}</th>

                </tr>
                </thead>
                <tbody>


                {% for publication in filter.qs %}

                    <tr>
                        <td>{{ publication.created_by.all|join:" " }}</td>
                        <td>{{ publication.title }}</td>
                        <td>
                        {% if publication.link is not None %}
                            <a href="{{ publication.link }}">{% trans 'Link' %}</a>
{#                        {{ publication.link }}#}
                        {% endif %}
                        </td>
                    </tr>





                {% endfor %}

                </tbody>
            </table>
        </div>

        </div>


        <br>
        <br>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

        <div class="wrapper flex-grow-1"></div>
    </body>
    </html>
{% endblock %}