{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<h1>{{ person.title }}</h1>#}
{#<small>By: {{ person.author.first_name }} {{ person.author.last_name }}</small><br/>#}
{#<hr>#}
{#<br/>#}
{#{{ person.body }}#}
{#{{ person.publication_set.all|join:", " }}#}
{#{{ person.publication_set }}#}
{#<br/><br/><br/>#}
{#<a href="{% url 'people' %}">back</a>#}
{#</body>#}
{#</html>#}



{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block MainHeader %}News{% endblock %}



{% block content %}
<body class=" d-flex flex-column min-vh-100">


<div class="article_detail">
<h1 class="article_detail">{{ person.title }}</h1>
<p class="article_detail">
    <b>About: </b>{{ person.body  | safe}}
<b>Related publications: </b>{{ person.publication_set.all|join:", " }} <br>
  <b>Related projects: </b>  {{ person.project_set.all|join:", " }}
      <br><br>
    <b>Rozvrh: </b>
{#    {{ room }}<br>#}

    {% for i in response %}

        {{ semester.pop }}
        {{ subjects.pop }}
        {{ day.pop }}
        {{ room.pop }}
        {{ time1.pop }}
        {{ time2.pop }}

        <br><br>
    {% endfor %}


{#    {% for  ak_rok, semester, den, miestnost, cas1, cas2, cas3, cas4, cas5, skratka_ps, skratka_rj in response %}#}
{#        {{ pes }}#}
{#        <br><br>#}
{#{% endfor %}#}
{##}
{##}
{#    {% for i in semester.items %}#}
{#        {{ i }}#}
{#        <br><br>#}
{#    {% endfor %}#}




</p>
</div>

<br>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<div class="wrapper flex-grow-1"></div>
</body>
</html>
{% endblock %}
