{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

{% block MainHeader %}Teaching{% endblock %}

{% block content %}


<body>



<br>
<br>

<div class="cardTeaching1" style="width: 65%;">
            <div class="card-body">
                <h1 class="card-title-teaching">Inteligentné systémy v informatike (Intelligent information systems)</h1>
                <h6 class="card-subtitle mb-2 text-muted">About us</h6>
                <p class="card-text">SWe conduct fundamental and applied research in two major areas: system modelling
                    and data analysis & interpretation. In area of system modelling our system development covers IoT,
                    wireless communication and sensor networks. Research applications of data analysis include: expert
                    systems, feature selection methods, bankruptcy prediction, handwriting analysis, interpretation of
                    biomedical signal and data etc.

                    We support interdisciplinarity and topics that bridges research from several departments or
                    universities.

                    Our lab was formed just recently in 2015 so we are still full of energy and we gladly welcome new
                    team members or collaborators.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>

            </div>
        </div>


<div class="cardTeaching2" style="width: 80%;">
            <div class="card-body">
                <h1 class="card-title-teaching">Stochastické modelovanie a analýza dát (Stochastic modelling and data analysis)</h1>
                <h6 class="card-subtitle mb-2 text-muted">About us</h6>
                <p class="card-text">SWe conduct fundamental and applied research in two major areas: system modelling
                    and data analysis & interpretation. In area of system modelling our system development covers IoT,
                    wireless communication and sensor networks. Research applications of data analysis include: expert
                    systems, feature selection methods, bankruptcy prediction, handwriting analysis, interpretation of
                    biomedical signal and data etc.

                    We support interdisciplinarity and topics that bridges research from several departments or
                    universities.

                    Our lab was formed just recently in 2015 so we are still full of energy and we gladly welcome new
                    team members or collaborators.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>

            </div>
        </div>

<br>
<br>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>
{% endblock %}