{% extends 'base.html' %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
{% block MainHeader %}Subjects{% endblock %}
{% block content %}

    {% get_current_language as LANGUAGE_CODE %}

    <body class="d-flex flex-column min-vh-100"></body>
    {% if LANGUAGE_CODE == 'en' %}
        <div class="subjects">
            <div class="row row-teaching">
                {% for subject in object_list %}
                    <div class="cardTeaching1">
                        <div class="card-body">
                            {% if subject.title is not None %}
                                <h1 class="card-title-teaching">{{ subject.title }}</h1>
                            {% endif %}
                            {% if subject.body is not None %}
                                <p class="card-text">{{ subject.body | safe }}</p>
                            {% endif %}

                            {% if subject.link is not None %}
                                <a class="Card link" href="{{ subject.link }}" role="button">Stránka predmetu</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if LANGUAGE_CODE == 'sk' %}
        <div class="subjects">
            <div class="row row-teaching">
                {% for subject in object_list %}
                    <div class="cardTeaching1">
                        <div class="card-body">
                            {% if subject.title_sk is not None %}
                                <h1 class="card-title-teaching">{{ subject.title_sk }}</h1>
                            {% elif subject.title is not None %}
                                <h1 class="card-title-teaching">{{ subject.title }}</h1>
                            {% endif %}
                            {% if subject.body_sk is not None %}
                                <p class="card-text">{{ subject.body_sk | safe }}</p>
                            {% elif subject.body is not None %}
                                <p class="card-text">{{ subject.body | safe }}</p>
                                <h1 class="card-title-teaching">{{ subject.title }}</h1>
                            {% endif %}


                            {% if subject.link is not None %}
                                <a class="Card link" href="{{ subject.link }}" role="button">Stránka predmetu</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <div class="wrapper flex-grow-1"></div>
    </body>
    </html>
{% endblock %}

