{% extends 'base.html' %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>


{% block MainHeader %}{{ cats }}{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}

    <body class="d-flex flex-column min-vh-100">

    <div class="projects">
        <div class="row">
            {% for project in category_projects %}

                <div class="col-12 col-md-6">
                    <div class="card card_center">
                        <div class="card-body card_center">
                            {% if LANGUAGE_CODE == 'en' %}
                                {% if project.title is not None %}
                                    <a href="{% url 'project-detail' project.pk %}"><h5
                                            class="card-title card_center">{{ project.title }}</h5>
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if LANGUAGE_CODE == 'sk' %}
                                {% if project.title_sk is not None %}
                                    <a href="{% url 'project-detail' project.pk %}"><h5
                                            class="card-title card_center">{{ project.title_sk }}</h5>
                                    </a>
                                {% elif project.title_sk is None %}
                                    {% if project.title is not None %}
                                        <a href="{% url 'project-detail' project.pk %}"><h5
                                                class="card-title card_center">{{ project.title }}</h5>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <div class="wrapper flex-grow-1"></div>
    </body>
    </html>
{% endblock %}


{#<h1>{{ cats }}</h1>#}
{##}
{#<ul>#}
{#{% for project in category_projects %}#}
{#    {{ project.title }}#}
{#    #}
{##}
{#{% endfor %}#}
{#</ul>#}



