{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

{% block MainHeader %}Projects{% endblock %}


{% block content %}
<body>

{#    <div class="d-flex justify-content-center">#}
{#        {% for project in object_list %}#}
{#            <div class="card" style="width: 30rem;">#}
{#                <div class="card-body">#}
{#                    <a href="{% url 'project-detail' project.pk %}"><h5 class="card-title">{{ project.title }}</h5></a>#}
{#                    <p class="card-text">#}
{#                        {{ project.body }}</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        {% endfor %}#}
{#    </div>#}

{#{% for c in object_list %}#}
{#    {% if c.pk == 1 %}#}
{##}
{#        <h1>{{ c.category }}</h1>#}
{#    {% endif %}#}
{##}
{##}
{#{% endfor %}#}




<div class="projects">
    <div class="row">
        {% for project in object_list %}
            {% if project.category == int %}

            {% endif %}
{#            #}
            <div class="col-12 col-md-6">
                <div class="card card_center">
                    <div class="card-body card_center">
                        <a href="{% url 'project-detail' project.pk %}"><h5 class="card-title card_center">{{ project.title }}</h5>
                        </a>
                        <p class="card-text card_center">
                            {{ project.title}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{##}
{#<div class="d-flex justify-content-center">#}
{#    <div class="card" style="width: 20rem;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Advanced feature selection methods for high dimensional data</h5>#}
{#            <p class="card-text">Feature selection (FS) has become a significant part of the data processing pipeline.FS#}
{#                techniques reduce the original feature space without transformation, so that the original features are#}
{#                preserved and cogent interpretation is possible</p>#}
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large#}
{#                modal#}
{#            </button>#}
{##}
{#            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"#}
{#                 aria-hidden="true">#}
{#                <div class="modal-dialog modal-lg">#}
{#                    <div class="modal-content">#}
{#                        Dynamic spectrum distribution in 5G and Beyond 5G systems#}
{#                        spectrum sharing, spectrum trading, techno-economical impacts of 5G#}
{#                        As one of finite resources in wireless communication, spectrum bands are becoming scarcer and#}
{#                        should be utilized more efficiently. Thus, the spectrum utilization efficiency is one of the#}
{#                        most challenging issues related to the 5th generation mobile networks. Traditional spectrum#}
{#                        management techniques that are based on the longterm and static licensing schemes show#}
{#                        inefficient spectrum usage. One possible solution how to overcome this problem is to adopt the#}
{#                        dynamic spectrum access with underlying cognitive radio application. Spectrum sensing, spectrum#}
{#                        sharing and trading are the main functionalities of such radio network.#}
{##}
{#                        Related publications:#}
{##}
{#                        Gazda, J., Bugár, G., Vološin, M., Drotár, P., Horváth, D., & Gazda, V. (2017). Dynamic spectrum#}
{#                        leasing and retail pricing using an experimental economy. Computer Networks, 121, 173-184.#}
{#                        Gazda, J., Kováč, V., Tóth, P., Drotár, P., & Gazda, V. (2017). Tax optimization in an#}
{#                        agent-based model of real-time spectrum secondary market. Telecommunication Systems, 64(3),#}
{#                        543-558.#}
{#                        Horvath, D., Gazda, J., & Brutovsky, B. (2017). A new bio-inspired, population-level approach to#}
{#                        the socioeconomic evolution of dynamic spectrum access services. International Journal of Modern#}
{#                        Physics C, 28(05), 1750062.#}
{##}
{#                        Research supported by:#}
{#                        APVV-18-0214, VEGA 1/0268/19#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="card" style="width: 20rem;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Intelligent Management of 5G Mobile Network based on the Comprehensive Learning with#}
{#                deep learning</h5>#}
{#            <p class="card-text">The basic goals within the project are the design of new heuristic algorithms based on#}
{#                the application of machine and deep learning to optimize the performance of the 5G network, verification#}
{#                of these algorithms in realistic models and studies as well as experimentally validation of the proposed#}
{#                methods on functional USRP devices.</p>#}
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large#}
{#                modal#}
{#            </button>#}
{##}
{#            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"#}
{#                 aria-hidden="true">#}
{#                <div class="modal-dialog modal-lg">#}
{#                    <div class="modal-content">#}
{#                        Research#}
{#                        Intelligent management for 5G and Beyond 5G systems#}
{#                        machine learning, RAN, mobility patterns, deep learning#}
{#                        The deployment of heterogeneous networks, application of the dynamic spectrum and the use of#}
{#                        unlicensed frequency spectrum are the basic technological solutions accompanying the deployment#}
{#                        of 5th generation (5G) mobile communications networks. The synergy of the simultaneous use of#}
{#                        these technology solutions will allow a significant increase in network capacity and quality of#}
{#                        service (QoS), which is a prerequisite for a massive 5G deployment in the future.#}
{##}
{#                        Related publications:#}
{##}
{#                        Gazda, J., Šlapak, E., Bugár, G., Horváth, D., Maksymyuk, T., & Jo, M. (2018). Unsupervised#}
{#                        Learning Algorithm for Intelligent Coverage Planning and Performance Optimization of Multitier#}
{#                        Heterogeneous Network. IEEE Access, 6, 39807-39819.#}
{#                        Maksymyuk, T., Gazda, J., Yaremko, O., & Nevinskiy, D. (2018, September). Deep Learning Based#}
{#                        Massive MIMO Beamforming for 5G Mobile Network. In 2018 IEEE 4th International Symposium on#}
{#                        Wireless Systems within the International Conferences on Intelligent Data Acquisition and#}
{#                        Advanced Computing Systems (IDAACS-SWS) (pp. 241-244). IEEE.#}
{##}
{#                        Research supported by:#}
{#                        APVV-18-0214, VEGA 1/0268/19#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="card" style="width: 20rem;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Green heterogeneous network topologies with support of UAV mobile stations for 5G+#}
{#                wireless communication systems</h5>#}
{#            <p class="card-text">The project goal is the design of the novel original methods for the energy efficient#}
{#                heterogeneous (HetNet) topologies to be considered in 5G+ wireless communication standard.</p>#}
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large#}
{#                modal#}
{#            </button>#}
{##}
{#            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"#}
{#                 aria-hidden="true">#}
{#                <div class="modal-dialog modal-lg">#}
{#                    <div class="modal-content">#}
{#                        Research#}
{#                        Machine learning for handwriting and speech analysis#}
{#                        data mining, handwriting, biomedical signal processing, expert system, decision support#}
{#                        Functional handwriting involves complex interactions among physical, cognitive and sensory#}
{#                        systems. Impairments in many aspects of these systems are associated with several diseases and#}
{#                        disorders such as neurodegenerative diseases (Parkinson disease, Alzheimer disease) and#}
{#                        pervasive developmental disorders. Our aim is to develop framework for decision support systems,#}
{#                        that will allow for objective and more effective diagnosis and treatment.#}
{##}
{##}
{#                        Related publications:#}
{##}
{#                        Gazda, M., Hireš, M., and Drotár, P. (2021) . Multiple-Fine-Tuned Convolutional Neural Networks#}
{#                        for Parkinson's Disease Diagnosis From Offline Handwriting," in IEEE Transactions on Systems,#}
{#                        Man, and Cybernetics: Systems, doi: 10.1109/TSMC.2020.3048892.#}
{##}
{#                        Drotár, P., Dobeš, M. (2020). Dysgraphia detection through machine learning. Scientific Reports,#}
{#                        10, 21541. doi:10.1038/s41598-020-78611-9 (OPEN ACCESS)#}
{##}
{#                        Dankovičová, Z., Sovák, D., Drotár, P., Vokorokos. L. (2018). Machine Learning Approach to#}
{#                        Dysphonia Detection. Applied Sciences. 8, 1927, https://doi.org/10.3390/app8101927.#}
{##}
{#                        Drotár, P., Mekyska, J., Rektorová, I., Masarová, L., Smékal, Z., & Faundez-Zanuy, M. (2016).#}
{#                        Evaluation of handwriting kinematics and pressure for differential diagnosis of Parkinson's#}
{#                        disease. Artificial intelligence in medicine, 67, 39-46.#}
{##}
{#                        Drotár, P., Mekyska, J., Rektorová, I., Masarová, L., Smékal, Z., & Faundez-Zanuy, M. (2015).#}
{#                        Decision support framework for parkinson’s disease based on novel handwriting markers. IEEE#}
{#                        Transactions on Neural Systems and Rehabilitation Engineering, 23(3), 508-516.#}
{##}
{##}
{#                        Research supported by:#}
{##}
{#                        APVV-16-0211#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{#<br>#}
{#<div class="d-flex justify-content-center">#}
{#    <div class="card" style="width: 20rem;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Computer-Aided Decision Support System for Hepatic Encephalopathy</h5>#}
{#            <p class="card-text">The goal of this project is to provide deep speech and handwriting analysis and#}
{#                investigate whether speech and handwriting can be used for diagnosis and monitoring of hepatic#}
{#                encephalopathy and whether there exists relationship between speech, handwriting and other biomarkers in#}
{#                hepatic encephalopathy</p>#}
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large#}
{#                modal#}
{#            </button>#}
{##}
{#            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"#}
{#                 aria-hidden="true">#}
{#                <div class="modal-dialog modal-lg">#}
{#                    <div class="modal-content">#}
{#                        Research#}
{#                        Bankruptcy prediction, decision support for digital business#}
{#                        data mining, imbalanced data, bankruptcy, big data, decision support, expert systems#}
{#                        Limited liability companies can experience serious financial problems due to bad economy or#}
{#                        unsuccessful business transactions. This can in the worst case results in the company#}
{#                        bankruptcy. Having indicator that will warn managers in advance may be very useful since company#}
{#                        may attempt to remedy its financial situation and take corrective actions. In reality only#}
{#                        fraction of all companies face bankruptcy herefore we approach this issue as an classification#}
{#                        of imbalanced dataset. We work with financial data of thousands of limited liability companies#}
{#                        and try to predict the bankruptcy several years before it actually happens.#}
{##}
{##}
{#                        Try our app to predict imminent bankruptcy of the company. The app is based on our previous#}
{#                        research and it is recommended for small and medium limited liability companies.#}
{##}
{##}
{#                        We collected the dataset of financial ratios of limited liability companies that can be used to#}
{#                        benchmark and validate methods for imbalanced learning and bankruptcy prediction. The detailed#}
{#                        description can be found in our Data in Brief paper.#}
{##}
{##}
{#                        Related publications:#}
{##}
{#                        Zoričák, M, Gnip, P., Drotár, P., Gazda, V. (2019). Small- and medium-enterprises bankruptcy#}
{#                        dataset. Data in Brief. vol. 25. https://doi.org/10.1016/j.dib.2019.104360#}
{##}
{#                        Zoričák, M, Gnip, P., Drotár, P., Gazda, V. (2019). Bankruptcy prediction for small- and#}
{#                        medium-sized companies using severely imbalanced datasets. Economic Modelling. ISSN 0264-9993,#}
{#                        https://doi.org/10.1016/j.econmod.2019.04.003.#}
{##}
{#                        Drotár P., Gnip, P., Zoričák, M.,Gazda, V. (2018). Single-Class Bankruptcy Prediction Based on#}
{#                        the Data from Annual Reports. In: Intelligent data engineering and automated learning : Part 1.#}
{#                        Springer Nature s. 343-353 [online]. Madrid. Španielsko. ISBN 978-3-030-03492-4#}
{##}
{#                        Gnip, P., Zoričák, M., Drotár P. (2017). Predikcia úpadku spoločností s ručením obmedzeným#}
{#                        využitím metód pre rozpoznanie odľahlých bodov.In: Dáta a znalosti 2017, Plzeň, CZE.#}
{##}
{#                        Drotár P., Zoričák, M., Gnip, P. (2018). Predikcia úpadku s.r.o. využitím metód pre rozpoznanie#}
{#                        odľahlých bodov na nevyvážených dátach. In: Dáta a znalosti 2018, Brno, CZE.#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="card" style="width: 20rem;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Intelligent Dynamic Spectrum Access Management for the Future Cognitive Communication#}
{#                Networks</h5>#}
{#            <p class="card-text">The spectrum utilization efficiency is one of the most challenging issues related to#}
{#                the 5th generation mobile networks. The main goal of the project is to jointly optimize the#}
{#                functionality of the spectrum sensing and sharing parameters and investigate the impact of the#}
{#                optimization on the spectrum trading activities in cognitive radio network.</p>#}
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large#}
{#                modal#}
{#            </button>#}
{##}
{#            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"#}
{#                 aria-hidden="true">#}
{#                <div class="modal-dialog modal-lg">#}
{#                    <div class="modal-content">#}
{#                        Research#}
{#                        Feature selection for big data#}
{#                        machine learning, data mining, knowledge discovery, expert systems, big data#}
{#                        High dimensional datasets frequently occur in social media, text processing, image recognition#}
{#                        and bioinformatics. These datasets can contain tens of thousands of features while having#}
{#                        available only hundreds (or usually less than hundred) samples. High dimensionality can#}
{#                        negatively impact the performance of classifier by increasing risk of over-fitting and#}
{#                        prolonging the computational time. Feature selection is a significant part of many machine#}
{#                        learning applications dealing with small-sample and high-dimensional data. Choosing the most#}
{#                        important features is an essential step for knowledge discovery in many areas.#}
{##}
{##}
{#                        We work on proposal of new feature selection methods and evaluate existing methods from#}
{#                        different point of views such as stability, ability to correctly identify significant features#}
{#                        and influence on classification accuracy.#}
{##}
{#                        Feel free to try our Weighted nearest neighbors method for feature selection available at#}
{#                        https://github.com/bugatap/WkNN-FS .#}
{##}
{##}
{#                        Related publications:#}
{##}
{#                        Bugata, P., Drotár, P. (in print) On some aspects of minimum redundancy - maximum relevance#}
{#                        feature selection, Science China Information Sciences.#}
{##}
{#                        Drotár, P, Gazda, M., Vokorokos, L. (2019). Ensemble feature selection using election methods#}
{#                        and ranker clustering. Information Sciences, Vol. 480, pp. 365-380, ISSN 0020-0255.#}
{##}
{#                        Bugata, P., Drotár, P. (2019). Weighted nearest neighbors feature selection. Knowledge-Based#}
{#                        Systems,https://doi.org/10.1016/j.knosys.2018.10.004.#}
{##}
{#                        Drotár, P., Gazda, M., & Gazda, J.(2017). Heterogeneous ensemble feature selection based on#}
{#                        weighted Borda count, 2017 9th International Conference on Information Technology and Electrical#}
{#                        Engineering (ICITEE), Phuket, pp. 1-4.#}
{##}
{#                        Drotár, P., Gazda, J., & Smékal, Z. (2015). An experimental comparison of feature selection#}
{#                        methods on two-class biomedical datasets. Computers in biology and medicine, 66, 1-10.#}
{##}
{##}
{#                        Research supported by:#}
{##}
{#                        APVV-16-0211#}
{##}
{#                        VEGA 1/0327/20#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="card" style="width: 20rem;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Agent based modeling of the spectrum distribution in the cognitive radio#}
{#                networks</h5>#}
{#            <p class="card-text">The goal of the project is the design of the novel and efficient models of the spectrum#}
{#                sharing and trading mechanisms in the cognitive radio networks. The special emphasis is put on the#}
{#                exploiting of the agent-based models incorporating strong interdisciplinary character.</p>#}
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large#}
{#                modal#}
{#            </button>#}
{##}
{#            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"#}
{#                 aria-hidden="true">#}
{#                <div class="modal-dialog modal-lg">#}
{#                    <div class="modal-content">#}
{#                        Research#}
{#                        Feature selection for big data#}
{#                        machine learning, data mining, knowledge discovery, expert systems, big data#}
{#                        High dimensional datasets frequently occur in social media, text processing, image recognition#}
{#                        and bioinformatics. These datasets can contain tens of thousands of features while having#}
{#                        available only hundreds (or usually less than hundred) samples. High dimensionality can#}
{#                        negatively impact the performance of classifier by increasing risk of over-fitting and#}
{#                        prolonging the computational time. Feature selection is a significant part of many machine#}
{#                        learning applications dealing with small-sample and high-dimensional data. Choosing the most#}
{#                        important features is an essential step for knowledge discovery in many areas.#}
{##}
{##}
{#                        We work on proposal of new feature selection methods and evaluate existing methods from#}
{#                        different point of views such as stability, ability to correctly identify significant features#}
{#                        and influence on classification accuracy.#}
{##}
{#                        Feel free to try our Weighted nearest neighbors method for feature selection available at#}
{#                        https://github.com/bugatap/WkNN-FS .#}
{##}
{##}
{#                        Related publications:#}
{##}
{#                        Bugata, P., Drotár, P. (in print) On some aspects of minimum redundancy - maximum relevance#}
{#                        feature selection, Science China Information Sciences.#}
{##}
{#                        Drotár, P, Gazda, M., Vokorokos, L. (2019). Ensemble feature selection using election methods#}
{#                        and ranker clustering. Information Sciences, Vol. 480, pp. 365-380, ISSN 0020-0255.#}
{##}
{#                        Bugata, P., Drotár, P. (2019). Weighted nearest neighbors feature selection. Knowledge-Based#}
{#                        Systems,https://doi.org/10.1016/j.knosys.2018.10.004.#}
{##}
{#                        Drotár, P., Gazda, M., & Gazda, J.(2017). Heterogeneous ensemble feature selection based on#}
{#                        weighted Borda count, 2017 9th International Conference on Information Technology and Electrical#}
{#                        Engineering (ICITEE), Phuket, pp. 1-4.#}
{##}
{#                        Drotár, P., Gazda, J., & Smékal, Z. (2015). An experimental comparison of feature selection#}
{#                        methods on two-class biomedical datasets. Computers in biology and medicine, 66, 1-10.#}
{##}
{##}
{#                        Research supported by:#}
{##}
{#                        APVV-16-0211#}
{##}
{#                        VEGA 1/0327/20#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
<br>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}